/*
#1A8B8F bluue 
#A8CC38 green
#F9A046 orange

*/
body{
	background-color: #1a8b8f;
	padding-top:5vmin;
}
.center{
	max-width:100%;
	margin:0 auto;
}

.boxed{
	background-color: #A8CC38;
	padding:100px;
	box-shadow: #002730 4px 4px;
	margin: 0 auto;
	border-radius:10px;
	text-align:center;
}

iframe{ 
	border-radius: 10px;
	box-shadow: #F9a046 4px 4px;
 }
