/*
#1A8B8F bluue 
#A8CC38 green
#F9A046 orange

*/
body{
	background-color: #1a8b8f;
	padding-top:5vmin;
}

.centerBox{
	background-color: #A8CC38;
	height:720px;
	width:1030px;
	box-shadow: #002730 4px 4px;
	margin: 0 auto;
	border-radius:10px;
	text-align:center;
}

